
.bgImageContainer {
  background-image: url('../public/images/NoImageFound.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.enterButton {
    background-color:#0fe9de;
    border: none;
    color: red;
    padding: 15px 32px;
    text-decoration: none;
    font-family: monospace
  }