/*Master Style Sheet for Arcadia Site*/

/*Page Header and Nav Bar*/

.grid-container {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.header {
  background-color: whitesmoke;
  color: #a81000;
  padding: 15px;
}

.navigation_bar {
  height:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0fe9de;
}

/*Home Page Login*/
.loginContainer {
  float: left;
  width: 15%;
  color:black;
  text-align: right;
  }

/*Page Body*/  
body {
    background-color: black;
}

/*Game Recommender Home Page*/
.gameGenContainer{  
  font-family: monospace;
  text-align: center;  
  width: 300px;  
  height: 200px;  
  padding-top: 100px;  
  }  

h2 {
    color: whitesmoke;
  }

  p {
    color: whitesmoke;
    text-align: justify;
  }

  form {
    color: whitesmoke;
    text-align: center;
  }

    .button {
        border: none;
        color: red;
        padding: 15px 32px;
        text-decoration: none;
        font-family: monospace
      }
      
      .testing {background-color: #0fe9de;}

/*Home Page Login*/
.loginContainer {
float: left;
width: 15%;
color:black;
text-align: right;
}

/*Newest Games Gallery*/
.gallery-scroll {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.gallery-item {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  scroll-snap-align: center;
}