/*Master Style Sheet for Arcadia Site*/


/*Responsive Grid View Set Up*/
* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/*Page Header*/
.header {
  width: 100%;
  background-color: whitesmoke;
  color: #a81000;
  padding: 30px;
}

/*Navigation Bar*/
.navigation_bar {
  height:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0fe9de;
}

/*Home Page Login*/
.loginContainer {
  float: right;
  width: 15%;
  color:black;
  text-align: right;
  }

/*Page Body*/  
body {
    background-color: black;
}

/*Game Recommender Home Page*/
.gameGenContainer{  
  font-family: monospace;
  text-align: center;  
  width: 300px;  
  height: 200px;  
  padding-top: 100px;  
  }  

h2 {
    color: whitesmoke;
  }

  p {
    color: whitesmoke;
    text-align: justify;
  }

  form {
    color: whitesmoke;
    text-align: center;
  }

    .button {
        border: none;
        color: red;
        padding: 15px 32px;
        text-decoration: none;
        font-family: monospace
      }
      
      .testing {background-color: #0fe9de;}

/*Home Page Login*/
.loginContainer {
float: left;
width: 15%;
color:black;
text-align: right;
}

/*Newest Games Gallery*/
.gallery-scroll {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.gallery-item {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  scroll-snap-align: center;
}