/*~~~~~~~~~~~~Master Style Sheet for Arcadia Site~~~~~~~~~~~~*/

/*Font Styling*/
@font-face {
  font-family: "f25_bank_printer"; /*Headings, Large Buttons*/
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer-webfont.woff2") format("woff2");
  }

@font-face {
  font-family: "f25_bank_printer_bold";
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer_bold-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer_bold-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer_bold-webfont.woff2") format("woff2");
  }


@font-face {
  font-family: "garet-book"; /*Paragraph text*/
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-book-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-book-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-book-webfont.woff2") format("woff2");
  }

@font-face {
  font-family: "garet-heavy";
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-heavy-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-heavy-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-heavy-webfont.woff2") format("woff2");
  }

@font-face {
  font-family: "retro_gaming"; /*Paragraph text*/
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/retro_gaming-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/retro_gaming-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/retro_gaming-webfont.woff2") format("woff2");
  } 
  
  body { font-family: 'garet-book', Arial, sans-serif}
  
  h1 {
    font-family: 'f25_bank_printer', Courier, monospace;
    font-weight:bold;
    font-style:bold;
  }

  h2 {color:whitesmoke}
  /*h3 {}
  h4{}
  */
  p {font-family: 'garet-book', Arial, Helvetica, sans-serif; 
    color: whitesmoke;
    text-align: justify;
  }
  a {color: whitesmoke;}
/*______________________________________________________________________________________*/

/*Responsive Grid View Set Up*/
* {
  display: grid;
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/*______________________________________________________________________________________*/


/*Page Header*/
.header {
  width: 100%;
  background-color: whitesmoke;
  color: #a81000;
  padding: 30px;
  position: relative;
}

/*Navigation Bar*/
.navigation_bar {
  height:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'garet-book', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

li {
  float: left;
}

li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0fe9de;
}

/*Home Page Login*/
.login {
  font-family:'garet-book', Arial, Helvetica, sans-serif; 
  }

/*Page Body*/  
body {
    background-color: black;
}

/*Newest Games Section*/
.newest_games {
  width: 100%;
  height: 10%;
  margin-left: 4%;
}

/*Newest Games Carousel*/
.gallery-scroll {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  vertical-align: middle;
}

.gallery-item {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  scroll-snap-align: center;
}

/*Game Recommender Home Page*/

.game_gen_container{
  background-image: url('/images/splash1.jpg');
  width: 80%;
  height: 26%;  
  margin-left: 4%;
}

.game_gen_container_description{  
  font-family: monospace;
  text-align: center;  
  width: 300px;  
  height: 200px;  
  }  



form {
  color: whitesmoke;
  text-align: center;
}

.button {
    border: none;
    color: red;
    padding: 15px 32px;
    text-decoration: none;
    font-family: monospace
  }
  
  .testing {background-color: #0fe9de;}

/*Latest Reviews*/

  .dropdown {
    float:left;
  }

  .latest_reviews {
    padding: 0, 2%;
    width: 70%;
    float: right;
  }

  .latest_reviews_header {
    margin-bottom: 3%;
    margin-top: 4%;
  }

  .latest_reviews_snippet {
    padding: 2%;
    float: left;
  }

  .placeholder {
    height: 11%;
    width: 11%;
    background-color: whitesmoke;
  }

  .review_text_container {
    width: 22%;
    color: whitesmoke;
  }

  /*Footer*/

  footer{
    padding: 0, 4%;
    color: whitesmoke;
  }

  footer aside {
    width: 25%;
    float: left;
    text-align: center;
  }