/*~~~~~~~~~~~~Master Style Sheet for Arcadia Site~~~~~~~~~~~~*/

/*Font Styling*/
@font-face {
  font-family: "f25_bank_printer"; /*Headings, Large Buttons*/
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer-webfont.woff2") format("woff2");
  }

@font-face {
  font-family: "f25_bank_printer_bold";
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer_bold-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer_bold-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/f25_bank_printer_bold-webfont.woff2") format("woff2");
  }


@font-face {
  font-family: "garet-book"; /*Paragraph text*/
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-book-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-book-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-book-webfont.woff2") format("woff2");
  }

@font-face {
  font-family: "garet-heavy";
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-heavy-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-heavy-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/garet-heavy-webfont.woff2") format("woff2");
  }

@font-face {
  font-family: "retro_gaming"; /*Paragraph text*/
  src: url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/retro_gaming-webfont.woff") format("woff"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/retro_gaming-webfont.otf") format("opentype"),
  url("https://github.com/K-eli-wtech/CSC289-Group-8/blob/main/client/public/fonts/retro_gaming-webfont.woff2") format("woff2");
  } 
  
  body { font-family: 'garet-book', Arial, sans-serif}
  
  h1 {
    font-family: 'f25_bank_printer', Courier, monospace;
    font-weight:bold;
    font-style:bold;
  }

  h2 {color:whitesmoke}
  /*h3 {}
  h4{}
  */
  p {font-family: 'garet-book', Arial, Helvetica, sans-serif; 
    color: whitesmoke;
    text-align: justify;
  }
  a {color: whitesmoke;}

/*Page Header*/
.header {
  display: flex;
  width: 100%;
  background-color: white;
  color: #a81000;
  padding: 30px;
  top: 0;
  position: absolute;
}

/*Navigation Bar*/
.navigation_bar {
  height:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'garet-book', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

li {
  float: left;
}

li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0fe9de;
}

/*Home Page Login*/
.login {
  font-family:'garet-book', Arial, Helvetica, sans-serif;
  background-color: white;
  color:#a81000; 
  }

/*Page Body*/  
body {
    background-color: black;
}

/*Newest Games Section*/
.newest_games {
  width: 100%;
  height: 10%;
  margin-left: 4%;
  padding-top: 150px;
}

/*Newest Games Carousel*/
.gallery-scroll {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  vertical-align: middle;
}

.gallery-item {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  scroll-snap-align: center;
}

/*Game Recommender Home Page*/

.game_gen_container{
  background-image: url('/images/splash1.jpg');
  width: 80%;
  /*height: 26%;*/  
  margin-left: 4%;
}

.game_gen_container_description{  
  font-family: monospace;
  text-align: center;  
  width: 300px;  
  height: 200px;  
  }
  
  .filter_dropdown {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
  }

form {
  color: whitesmoke;
  text-align: center;
}

.button {
    border: none;
    color: red;
    padding: 15px 32px;
    text-decoration: none;
    font-family: monospace
  }
  
  .testing {background-color: #0fe9de;}

/*Latest Reviews*/

.filter_dropdown {
  margin-bottom: 3%;
  margin-top: 4%;
}

.dropbtn {
  background-color: black;
  color: whitesmoke;
  padding: 16px;
  font-size: 16 px;
  border: none;
  cursor: pointer;
}  

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #0fe9de;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .latest {
    display: flex;
    margin-left: 4%;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white;}

/* Show the dropdown menu */
.show {display:block;}

  .latest_reviews {
    display: flex;
    flex-direction: column;
    padding: 0, 2%;
    width: 70%;
  }

  .review_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .latest_reviews_header {
    margin-bottom: 3%;
    margin-top: 4%;
  }

  .latest_review_snippet {
    padding: 2%;
    /*float: left;*/
    display: flex;
    flex-direction: row;
  }

  .placeholder {
    height: 100px;
    width: 100px;
    background-color: white;
  }

  .review_text_container {
    width: 22%;
    color: white;
  }

  /*Search Box Under Filter*/
  .search-container {
    display: flex;
  }

  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search-container button:hover {
    background: #ccc;
  }

  @media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
    .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  /*Footer*/

  .footer-test {
    display: flex;
    background-color: white;
    padding: 0, 4%;
    color: black;
  }

  .footer-content {
    width: 25%;
    float: left;
    text-align: center;
  }