/* Newest */

.newest_games {
    padding: 20px;
}


/*Newest Games Carousel*/

.gallery-scroll {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    vertical-align: middle;
}

.gallery-item {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #333;
    color: whitesmoke;
    scroll-snap-align: center;
}


/*Game Recommender Home Page*/

.game_gen_container{
    background-image: url('/images/splash1.jpg');
    width: 80%;
    height: 26%;  
    margin-left: 4%;
  }
  
.game_gen_container_description{  
    font-family: monospace;
    text-align: center;
    width: 300px;  
    height: 200px;  
}

form {
    color: whitesmoke;
    text-align: center;
}

  
.button {
    border: none;
    color: red;
    padding: 15px 32px;
    text-decoration: none;
    font-family: monospace
}
    
.testing {background-color: #0fe9de;}


.section-heading {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}

.paragraph {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #0fe9de;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.1s ease;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button:hover {
    background-color: #fff;
    color: #0fe9de;
}


/* Latest Reviews */

.latest-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
  }

.latest-body {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.filter_dropdown {
    display: inline-flex;
    width: 100%;
    align-items: right;
    padding: 10px 20px;
    justify-content: right;
}

.latest button {
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: 1.2em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    background-color: #ffffff;
    padding: 10px 20px;
}

.latest_reviews_header {
    padding: 20px;
    width: 350px;
    height: 50px;
}

.latest_reviews {
    align-items: center;
    justify-content: center;
}


/* Dropdown */

.dropdown {
    display: relative;
    width: auto;
    align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #272727ad;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 600;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #66666686;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffffff;
    color: #181818;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}